<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Hide internal directories from direct access -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="src" />
          <add segment="content" />
          <add segment="cache" />
          <add segment="cli" />
          <add segment="templates" />
        </hiddenSegments>
        <!-- Allow content-backup.zip to be downloaded -->
        <fileExtensions>
          <remove fileExtension=".zip" />
          <add fileExtension=".zip" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    
    <!-- Default documents -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <!-- MIME type for ZIP files -->
    <staticContent>
      <mimeMap fileExtension=".zip" mimeType="application/zip" />
    </staticContent>
  </system.webServer>
</configuration>
