<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Hide internal directories from direct access -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="src" />
          <add segment="content" />
          <add segment="cache" />
          <add segment="cli" />
          <add segment="templates" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- Default documents -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.htm" />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
